html {
  background-color: gray;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  --radius: 4.55% / 3.5%;
  --space: 5%;
  transform: translateZ(0.1px);
  will-change: transform, visibility;
  transform-style: preserve-3d;
  width: 100%;
  aspect-ratio: 0.714;
  width: 400px;
  height: 400px;
}

.cardFront {
  width: 100%;
  display: grid;
  grid-area: 1/1;
  height: 100%;
  aspect-ratio: 0.714;
  overflow: hidden;
  border-radius: var(--radius);
  transform-style: preserve-3d;
  transform-origin: center;
  will-change: transform;
}

.cardFront img {
  width: 100%;
  display: grid;
  grid-area: 1/1;
}

.cardShine {
  --angle: 133deg;
  --imgsize: 100%;
  width: 400px;
  aspect-ratio: 0.714;
  border-radius: var(--radius);
  mix-blend-mode: color-dodge;
  background-blend-mode: hue, hue, hard-light, overlay;
  background-size: var(--imgsize), 200% 700%, 300%, 200%;
  display: grid;
  grid-area: 1/1;
}

.cardShine::after {
  content: " ";
  visibility: visible;
  --space: 5%;
  --angle: 133deg;
  --imgsize: 100%;
  width: 400px;
  aspect-ratio: 0.714;
  mix-blend-mode: exclusion;
  background-image: inherit;
  background-blend-mode: soft-light, hue, hard-light;
  background-size: var(--imgsize), 200% 400%, 195%, 200%;
  display: grid;
  grid-area: 1/1;
}
